/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-color: #0E0E52;
    }

    /* HEADER*/
        .header{
            text-align: center;
        }
        .header, h1, b{
            color: #d3c618;
        }


    /* FORM */

    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 90px;
        position: relative;
        bottom: 70px;
    }

    form label{
        color: white;
        text-align: center;
        font-size: 1.3em;
    }

    #submit{
        position: relative;
        top: 20px;
        background-color: yellow;
        width: 50%;
        height: 50px;
        border-radius: 10px;
    }
    #submit:hover{
        background-color: rgb(180, 180, 51);
        color: white;
    }

    /* Excel Link */
   .log, a{
        color: red;
        text-decoration: none;
        text-align: left;
        
     }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background-color: blue;
    }
}